<div class="text-center mt-5 card bg-warning text-dark">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>{{ingredients}}</p>
  <p>{{instructions}}</p>
  <p>Created by {{user.username}} on {{format_date recipe.date_created}}</p>
</div>